<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forritzstar.freeringtones"
    android:versionCode="12"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Umeng -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Kuguo -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name="com.forritzstar.freeringtones.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:uiOptions="none" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.forritzstar.freeringtones.RingList$RingtoneList"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.forritzstar.freeringtones.RingList$NotificationList"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.forritzstar.freeringtones.RingList$AlarmList"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.forritzstar.freeringtones.AudioPager$RingtonePager"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.forritzstar.freeringtones.AudioPager$NotificationPager"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.forritzstar.freeringtones.AudioPager$AlarmPager"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.forritzstar.freeringtones.HelpActivity"
            android:label="@string/help" >
        </activity>
        <activity
            android:name="com.forritzstar.freeringtones.HelpXiaomiActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name="com.forritzstar.freeringtones.FAQActivity"
            android:label="@string/faq" >
        </activity>

        <service android:name="com.forritzstar.my.RingtoneService" >
        </service>
        <service android:name="com.forritzstar.my.NotificationService" >
        </service>
        <service android:name="com.forritzstar.my.AlarmService" >
        </service>

        <receiver android:name="com.forritzstar.my.AlarmReceiver" />
        <receiver android:name="com.forritzstar.my.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Umeng -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- Kuguo -->
        <!-- 需要注册的自定义receiver:banner的包名.MyBReceive -->
        <receiver android:name="com.forritzstar.freeringtones.MyBReceive" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 需要注册的自定义 广告详情:banner的包名.MyBActivity -->
        <activity
            android:name="com.forritzstar.freeringtones.MyBActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5315cee256240b4c69066e1f" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="hiapk" />
    </application>

</manifest>